/* Using this image to be a background for my stadium app */
body {
  background-image: url("https://media.timeout.com/images/105745099/image.jpg");
  background-size: auto;
}
h1 {
  text-align: center;
  color: black;
}
